@charset "utf-8";




.notification-green, .notification-blue, .notification-red, .notification-purple {
	color:#fff; 
	position:fixed;
	top:0;
	left:0;
	z-index:1000;
	width:100%;
	border-bottom:3px solid #fff !important;
	-moz-box-shadow: 1px 1px 7px #676767;
	-webkit-box-shadow: 1px 1px 7px #676767;
	box-shadow: 1px 1px 7px #676767;
	height: 45px;
}


.notification-green p, .notification-blue p, .notification-red p, .notification-purple p { 
	float:left; 
	padding:0px; 
	margin:0px; 
	margin-left:10px; 
	line-height:45px; 
	font-size:12px;
}

.notification-green a.close, .notification-blue a.close, .notification-red a.close, .notification-purple a.close { 
	float:right; 
	margin:13px 10px 0px 0px; 
}

.notification-green a, .notification-blue a, .notification-red a, .notification-purple a { 
	color:white;
}


.notification-green {	
	/* FireFox 3.6 */
	/* Safari4+, Chrome */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#91BD09', endColorstr='#91BD09')";
	-pie-background: linear-gradient(#91BD09, #91BD09 100%);
	behavior: url(PIE.htc);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #91BD09),color-stop(1, #91BD09));/* IE6,IE7 */
	/* IE8 */
	/* Firefox F3.5+ */
	/* Safari3.0+, Chrome */
}

.notification-purple {
	/* FireFox 3.6 */
	/* Safari4+, Chrome */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#660099', endColorstr='#660099')";
	-pie-background: linear-gradient(#660099, #660099 100%);
	behavior: url(PIE.htc);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #660099),color-stop(1, #660099));/* IE6,IE7 */
	/* IE8 */
	/* Firefox F3.5+ */
	/* Safari3.0+, Chrome */
}

.notification-blue {
	/* FireFox 3.6 */
	/* Safari4+, Chrome */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#0E59AE', endColorstr='#0E59AE')";
	-pie-background: linear-gradient(#0E59AE, #0E59AE 100%);
	behavior: url(PIE.htc);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #0E59AE),color-stop(1, #0E59AE));/* IE6,IE7 */
	/* IE8 */
	/* Firefox F3.5+ */
	/* Safari3.0+, Chrome */
}

.notification-red {
	/* FireFox 3.6 */
	/* Safari4+, Chrome */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#CC0000', endColorstr='#CC0000')";
	-pie-background: linear-gradient(#CC0000, #CC0000 100%);
	behavior: url(PIE.htc);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #CC0000),color-stop(1, #CC0000));/* IE6,IE7 */
	/* IE8 */
	/* Firefox F3.5+ */
	/* Safari3.0+, Chrome */
}


